.red{
    color: rgb(253, 112, 112);
   
}

/*class called red that can be used whenever we want*/

ol li{
color: rgb(20, 6, 180);
font-family: fantasy,sans-serif
}

ul li{
    font-family: fantasy,sans-serif
}  

body h2 {
font-family: fantasy;
}

table,table tr td,
table tr th {
border:1px blue solid;
border-spacing: px;
border-collapse: collapse;
}

