/*variables to be use across to the website*/

:root{
    --nav-ctrl-color: #000000;
    --nav-ctrl-size: 1.25rem;
    --nav-ctrl-inner-size: 1rem;
}

.nav-dot{
    border-width: 1px;
    
    border-radius: 100%;
    border-style: solid;
    border-color: var(--nav-ctrl-color);
    height: var(--nav-ctrl-size);
    display: flex;
    justify-content: center;
    margin: 0 .25rem;
    align-items: center;
    width: var(--nav-ctrl-size);
    
}
.nav-dot-inner{
    background-color: var(--nav-ctrl-color);
    display: block;
    border-radius: 100%;
    opacity: 0;
    transition: all .3s ease;
    width: 0;
    height: 0;
}

.nav-dot:hover .nav-dot-inner{
    background-color: chartreuse;
    height: var(--nav-ctrl-inner-size);
    width: var(--nav-ctrl-inner-size);
    opacity: .5;
}



#bnr-1-ctrl:checked ~ .banner-nav #bnr-1-dot .nav-dot-inner {
    background-color: chartreuse;
    height: var(--nav-ctrl-inner-size);
    width: var(--nav-ctrl-inner-size);
    opacity: 1;

}

#bnr-2-ctrl:checked ~ .banner-nav #bnr-2-dot .nav-dot-inner{
    background-color:  chartreuse;
    height: var(--nav-ctrl-inner-size);
    width: var(--nav-ctrl-inner-size);
    opacity: 1; 

}
#bnr-3-ctrl:checked ~ .banner-nav #bnr-3-dot .nav-dot-inner {
    background-color: chartreuse;
    height: var(--nav-ctrl-inner-size);
    width: var(--nav-ctrl-inner-size);
    opacity: 1; 
}
.banner-nav{
    display: flex;
    justify-content: center;
}
