/*TAGS*/
a{
color: rgb(24, 40, 141);
text-decoration: none;
}

a:hover{
    color: rgb(191, 106, 214);
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:1.5;
    background-color: rgb(239, 239, 239);
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 1em;
} 

footer{
    background-color: rgb(38, 6, 47);
    color: aliceblue;
    font-size: .9em;
    padding: 1.11em 0;
}

/*CLASSES*/

.blog-post header{
    text-align: center;
    margin-top: 4em;
}

.blog-post .category{
    text-transform: uppercase;
}

.blog-post .title{
    text-transform: capitalize;
}


.button{
background-color:rgb(38, 6, 47);
padding: .5em .75em;
border: none;
border-radius: .25em;
color: #ffff;
}

.button:hover{
    background-color:green
    color(#ffff )
} 


.navbar{
    border-bottom: 1px solid rgb(28, 59, 31);
    padding: .5cm;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-item{
    padding: .5em;
    margin: 0 .5em;
}



.blog-post .image{
    margin: 2em 0;
}

.rounded-image img{
    display: block;
    width: 100%;
    border-radius: 8px;
}

.blog-post .subtitle{
    margin-top: 2em;
}

.blog-post .summary li{
    margin-top: 1em;
}

.blog-post .summary{

    padding-left: 50px;
}
