/*TAGS*/
a{
color: rgb(24, 40, 141);
text-decoration: none;
}

a:hover{
    color: rgb(4, 43, 8);
}

body{
    font-family: calibri, Arial, sans-serif;
    line-height:1.5;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    }



footer{
    background-color: rgb(38, 6, 47);
    color: aliceblue;
    font-size: .9em;
    padding: 1.11em 0;       
    
    
    }

header {
    font-size: 16pt;
}

/*CLASSES*/

.blog-post .title-heading{
    text-align: center;
    margin-top: 1em;
    font-size: 15pt;
   
}

.blog-post .category{
    text-transform: uppercase;
}

.blog-post .title{
    text-transform: capitalize;
}


.button{
background-color:rgb(79, 0, 128);
padding: .5em .75em;
border: none;
border-radius: .25em;
color: #ffff;
}

.button:hover{
    background-color:rgb(66, 5, 72)
    
} 


.navbar{
    border-bottom: 1px solid rgb(59, 28, 57);
    padding: .5cm;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-item{
    padding: .5em;
    margin: 0 .5em;
}


.blog-post .image{
    margin: 2em 0;
}

.rounded-image img{
    display: block;
    width: 100%;
    border-radius: 8px;
    float:left;
   
}

.rounded-p{
   margin-top:50px;
   font-size: 20px;
   
}




.blog-post .subtitle{
    margin-top: 2em;
    
}

.blog-post .summary li{
    margin-top: 1em;
}

.blog-post .summary{

    padding-left: 50px;
}

.contact-form label,
.contact-form input,
.contact-form select,
.contact-form textarea {
    display: block;
    width: 100%;
}

.contact-form label{
    margin-bottom: 0.5em;
}

.contact-form input,
.contact-form select,
.contact-form textarea{
    border: 1px solid black;
    padding: .5em;
    border-radius: 8px;
}

.contact-form :invalid{
    border-color: red;
    color: red;
}
.contact-form :invalid::placeholder{
    color: red;
}
.contact-form button{
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    padding: .8em;
}

.contact-form button.clear{
    background-color: rgb(255, 0, 0);
}
.contact-form button.clear:hover{
    background-color: rgb(106, 14, 14);
}
.contact-form button:hover{
    background-color: rgb(8, 130, 8);
}
.contact-form button{
    background-color: rgb(104, 162, 46);
}

.contact-details hr{
    border: none;
    border-top: 1px solid rgb(1, 45, 1);
    margin: 2em 0

}
.contact-details h3{
    margin-top: .5em;
}
.contact-details p{
    margin: 0.5em;
}
.rounded-image{
    padding-right: 45em;     
}


.blog-list{
   width:570px; 
   text-align: left;
   
}

.blog-list2{
    margin-top: 2.11em;
}



:root {
    --thumbnail-size: 5rem;
}

body {
    font-family: sans-serif;
    text-align: center;
}

/*
    The gallery icons - this can be any style that makes sense for your design.
*/
.gallery-nav {
    display: flex;
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    justify-content: center;
}
.gallery-nav .nav-item {
    margin: 0 .5rem;
}
.gallery-nav .nav-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
}

/* The dark background behind all images. */
.gallery-overlay {
    background-color: rgba(0, 0, 0, .75);
    opacity: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    pointer-events: none;
    transition: all .2s ease;
}

/* Centers the overlay content to the center of the screen. */
.gallery-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Basic styling for the gallery image. */
.gallery-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* The close icon - only used for visual effect. */
.gallery-close {
    align-items: center;
    background-color: #000;
    border: 1px solid #555;
    border-radius: 100%;
    color: #fff;
    display: flex;
    font-weight: bold;
    height: 2rem;
    justify-content: center;
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 2rem;
    z-index: 101;
}

/*
    :target will find any overlay with an ID that matches the url.
    So, if we're looking for #rabbit, only the gallery overlay with an ID of "rabbit" will appear.
*/
.gallery-overlay:target {
    opacity: 1;
    pointer-events: all;
}

.caption {
    color: #e0e2e4;
    text-decoration: none;
}









